<!--- this is the counter --->

<div id="sfcklel5fma3a4hgzw5p4dpjculu7au6mns"></div>
<script type="text/javascript" src="https://counter4.stat.ovh/private/counter.js?c=klel5fma3a4hgzw5p4dpjculu7au6mns&down=async" async></script>
<noscript><a href="https://www.freecounterstat.com" title="website hit counter"><img src="https://counter4.stat.ovh/private/freecounterstat.php?c=klel5fma3a4hgzw5p4dpjculu7au6mns" border="0" title="website hit counter" alt="website hit counter"></a></noscript>

<div class="row">
    <div class="col-md-4">
        <h3>Profesor</h3>
        <div class="image-cropper">
          <img src="https://ca.slack-edge.com/T010LAFTYQK-U010XQDP40Y-f64e624eab35-512" alt="avatar" class="profile-pic">
        </div>
        <ul class="icon-list">
            <li><i class="fas fa-user"></i> <a href="{{ .Site.Params.Profesor.url }}" target="_blank" rel="noopener"> {{ .Site.Params.Profesor.name }}</a></li>
            <li><i class="fas fa-envelope"></i> <a href="mailto:{{ .Site.Params.Profesor.email }}"> {{ .Site.Params.Profesor.email }}</a></li>
            <li><i class="fab fa-github"></i> <a href="https://github.com/{{ .Site.Params.course.github }}" target="_blank" rel="noopener"> {{ .Site.Params.Profesor.github }}</a></li>
            <li><i class="fas fa-university"></i> <a href="https://juancarloscastillo.github.io/jc-castillo/contact.html">Horas de reunión: Miércoles 15 a 17hrs</a></li>
        </ul>
    </div>

    <div class="col-md-4">
        <h3>Apoyo docente</h3>
        <div class="image-cropper">
          <img src="https://ca.slack-edge.com/T010LAFTYQK-U010XQGGCC8-d96ec643f6c9-512" alt="avatar" class="profile-pic">
        </div>

        <ul class="icon-list">
            <li><i class="fas fa-user"></i> <a href="https://valentinaandrade.netlify.app/">Valentina Andrade</a></li>
            <li><i class="fas fa-envelope"></i> <a href="mailto:valentinaandrade@uchile.cl">valentinaandrade@uchile.cl</a></li>
            <li><i class="fab fa-github"></i> <a href="https://github.com/valentinaandrade"valentinaandrade target="_blank" rel="noopener"> valentinaandrade</a></li>
        </ul>
    </div>


    <div class="col-md-4">
        <h3>Horario clases</h3>

        <ul class="icon-list">
            <li><i class="far fa-calendar"></i> {{ .Site.Params.course.days }}</li>
            <li><i class="far fa-clock"></i> {{ .Site.Params.course.time }}</li>
        </ul>

        <h3>Horario prácticos</h3>

        <ul class="icon-list">
            <li><i class="far fa-calendar"></i> Jueves (Sección 1) y Viernes (Sección 2)</li>
            <li><i class="far fa-clock"></i> 8:30am - 10:00am </li>
        </ul>

        <ul class="icon-list">
            <li><i class="far fa-calendar-alt"></i> {{ .Site.Params.course.dates }}</li>
            <li><i class="fas fa-university"></i> {{ .Site.Params.course.location }}</li>
            {{ if isset .Site.Params.course "slack" }}<li><i class="fab fa-slack"></i> <a href="{{ .Site.Params.course.slack }}" target="_blank" rel="noopener">Slack</a></li>{{ end }}
        </ul>

    </div>
  </div>

    <h3>Ayudantes</h3>
    <b> Sección 1 </b>

<div class="row">
    <div class="col-md-3">
      <center>
        <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U011ARGEUR5-a37c15b9ffb8-512" alt="avatar" class="profile-pic"></div>
        Andreas Lafferte<br><br>
        <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U01R6UX0XA8-6c5aef7a3f6d-512" alt="avatar" class="profile-pic"></div>
        Emilia Barrientos<br><br>
      </center>
    </div>

    <div class="col-md-3">
      <center>
        <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U01R10KHHHR-eee19b35e141-512" alt="avatar" class="profile-pic"></div>
      Pablo Campos<br><br>
        <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U01RDD12789-043a9f96701b-512" alt="avatar" class="profile-pic"></div>
      Alberto Reyes<br>
      </center>

    </div>

    <div class="col-md-3">
      <center>
      <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U011ARE24HM-418d7a7e413d-512" alt="avatar" class="profile-pic"></div>
      Kevin Carrasco<br><br>
        <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U011E6V1NL8-c42305f760be-512" alt="avatar" class="profile-pic"></div>
      Víctor Jiménez<br>
      </center>
    </div>

    <div class="col-md-3">
      <center>
        <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U01QL1967FH-a4da702376fc-512" alt="avatar" class="profile-pic"></div>
        Paulina Gamboa<br>
      </center>
    </div>



</div>

    <b> Sección 2 </b>
<div class="row">
  <div class="col-md-3">
    <center>
      <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U01147LTQF3-65fe9054a0f4-512" alt="avatar" class="profile-pic"></div>
      Catalina Flores<br><br>
      <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U01QL19737Z-85072be935fd-512" alt="avatar" class="profile-pic"></div>
      Dafne Jaime<br><br>
    </center>
  </div>

  <div class="col-md-3">
    <center>
      <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U01RDD151FB-1fff37c94abb-512" alt="avatar" class="profile-pic"></div>
    Nicolás Godoy<br><br>
      <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U01QXMFLMQV-9936ff13c15e-512" alt="avatar" class="profile-pic"></div>
    Álvaro Serrano<br>
    </center>

  </div>

  <div class="col-md-3">
    <center>
    <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U01114Y1URZ-104c9d593f8c-512" alt="avatar" class="profile-pic"></div>
    Sebastián Cortínez<br><br>
    <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U011BCXRXTN-93c46f89c810-512" alt="avatar" class="profile-pic"></div>
    Cristóbal Ortiz<br>
    </center>
  </div>
  <div class="col-md-3">
    <center>
      <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U01RQJWP9MW-587022944ce7-512" alt="avatar" class="profile-pic"></div>
      Nicolás Tobar<br>
    </center>
  </div>


</div>

<br>

<div class="contact-policy">
  <h3>Contacto</h3>

      <p>{{ .Site.Params.Profesor.contact_policy | markdownify}}</p>

</div>
<div class="contact-policy">
  <h3>Versiones anteriores del sitio del curso:</h3>
<p>- <a href="https://version2020--multivariada.netlify.app/">2020</a></p>
<p>- <a href="https://juancarloscastillo.github.io/metsoc-facsouchile/index.html">2019</a></p>


</div>
</div>
