<!--- this is the counter --->

<style>
box {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
</style>

<div class="contact-policy">
<h3 style="font-size:160%; color:#e8500c";>ANUNCIOS</h3>
<p style="font-size:140%; color:white; padding: 10px; border: 2px solid black;background-color: #e8500c">

15/03 - Bienvenid_s al curso! En esta primera semana de clases tendremos sesiones presenciales en dos secciones, sala 43:  <br>
- Primera sección: apellidos A-G, día Viernes 8:30 a 10:00 <br>
- Segunda sección: apellidos H-Z, día Viernes 10:15 a 11:45

<br>
</p>
</div>



<div class="row">
    <div class="col-md-4">
        <h3>Profesor</h3>
        <div class="image-cropper">
          <img src="https://ca.slack-edge.com/T010LAFTYQK-U010XQDP40Y-f64e624eab35-512" alt="avatar" class="profile-pic">
        </div>
        <ul class="icon-list">
            <li><i class="fas fa-user"></i> <a href="{{ .Site.Params.Profesor.url }}" target="_blank" rel="noopener"> {{ .Site.Params.Profesor.name }}</a></li>
            <li><i class="fas fa-browser"></i> <a href="https://jc-castillo.com"> jc-castillo.com</a></li>
            <li><i class="fas fa-envelope"></i> <a href="mailto:{{ .Site.Params.Profesor.email }}"> {{ .Site.Params.Profesor.email }}</a></li>
            <li><i class="fab fa-github"></i> <a href="https://github.com/{{ .Site.Params.course.github }}" target="_blank" rel="noopener"> {{ .Site.Params.Profesor.github }}</a></li>
            <li><i class="fas fa-university"></i> <a href="https://jc-castillo.com/contacto/">Horas de reunión: Jueves 14:30 a 16:00</a></li>
        </ul>
    </div>

    <div class="col-md-4">
        <h3>Apoyo docente</h3>
        <div class="image-cropper">
          <img src="https://ca.slack-edge.com/T010LAFTYQK-U036CTU4MSQ-73d257361938-512" alt="avatar" class="profile-pic">
        </div>

        <ul class="icon-list">
            <li><i class="fas fa-user"></i> <a href="">Anaís Herrera (Sección A)</a></li>
            <li><i class="fas fa-envelope"></i> <a href="mailto:anais.herrera@ug.uchile.cl ">anais.herrera@ug.uchile.cl </a></li>
            <li><i class="fab fa-github"></i> <a href="https://github.com/anaisherrera"anaisherrera target="_blank" rel="noopener"> anaisherrera</a></li>
        </ul>

        <div class="image-cropper">
          <img src="https://ca.slack-edge.com/T010LAFTYQK-U011ARE24HM-418d7a7e413d-512" alt="avatar" alt="avatar" class="profile-pic">
        </div>

        <ul class="icon-list">
            <li><i class="fas fa-user"></i> <a href="">Kevin Carrasco (Sección B)</a></li>
            <li><i class="fas fa-envelope"></i> <a href="mailto:kevin.carrasco@ug.uchile.cl ">kevin.carrasco@ug.uchile.cl </a></li>
            <li><i class="fab fa-github"></i> <a href="https://github.com/orgs/lisa-coes/people/Kevin-carrasco"Kevin-carrasco target="_blank" rel="noopener"> Kevin-carrasco</a></li>
        </ul>

    </div>


    <div class="col-md-4">
        <h3>Horario clases</h3>

        <ul class="icon-list">
            <li><i class="far fa-calendar"></i> {{ .Site.Params.course.days }}</li>
            <li><i class="far fa-clock"></i> {{ .Site.Params.course.time }}</li>
        </ul>

        <h3>Horario prácticos</h3>

        <ul class="icon-list">
            <li><i class="far fa-calendar"></i> Viernes </li>
            <li><i class="far fa-clock"></i> 8:30am - 10:00am </li>
        </ul>

        <ul class="icon-list">
            <li><i class="far fa-calendar-alt"></i> {{ .Site.Params.course.dates }}</li>
            <li><i class="fas fa-university"></i> {{ .Site.Params.course.location }}</li>
            {{ if isset .Site.Params.course "slack" }}<li><i class="fab fa-slack"></i> <a href="{{ .Site.Params.course.slack }}" target="_blank" rel="noopener">Slack</a></li>{{ end }}
        </ul>

    </div>
  </div>

    <h3>Ayudantes Sección A</h3>

<div class="row">

  <div class="col-md-3">
    <center>
    <div class="image-cropper"><img src="https://ucampus.uchile.cl/d/r/usuario/5d/5d72ce26a7667990e9e726469b5b165c/perfil/11af4889dd88fb2b75bd1dc2dc5ed276.jpg" alt="avatar" class="profile-pic"></div>
    Carolina Carrillo<br><br>
    </center>
  </div>

  <div class="col-md-3">
    <center>
    <div class="image-cropper"><img src="https://ucampus.uchile.cl/d/r/usuario/34/34c21f88fd64ce00a7acde71cc47c8ea/perfil/798404d5c89d46115f45cfaee00e4bed.jpg" alt="avatar" class="profile-pic"></div>
    Sebastián Budnevich<br><br>
    </center>
  </div>

  <div class="col-md-3">
    <center>
    <div class="image-cropper"><img src="https://ucampus.uchile.cl/d/r/usuario/83/83383a560c92f7ccbfa624dd16b09fb6/perfil/dca6b769706e15981e727b6d8f4ab38f.jpg" alt="avatar" class="profile-pic"></div>
    Moira Martínez<br>
    </center>
  </div>

  <div class="col-md-3">
    <center>
    <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U01R10KHHHR-eee19b35e141-512" alt="avatar" class="profile-pic"></div>
    Pablo Campos<br><br>
    </center>
  </div>
</div>

    <h3>Ayudantes Sección B</h3>
<div class="row">
    <div class="col-md-3">
      <center>
        <div class="image-cropper"><img src="https://ca.slack-edge.com/T010LAFTYQK-U01RDD151FB-1fff37c94abb-512" alt="avatar" class="profile-pic"></div>
        Nicolás Godoy<br>
      </center>
    </div>

    <div class="col-md-3">
      <center>
      <div class="image-cropper"><img src="https://ucampus.uchile.cl/d/r/usuario/3c/3c0477bf7a6a665950cb745475272195/perfil/16c7da466d455ec5e4090b27da0181ad.jpg" alt="avatar" class="profile-pic"></div>
      Valentina González<br><br>
      </center>
    </div>

    <div class="col-md-3">
      <center>
      <div class="image-cropper"><img src="https://ucampus.uchile.cl/d/r/usuario/06/06ecf638f7d42c5fd8c102102f5f92ef/perfil/cdb7f784105819eff0c46b5bb7724353.jpg" alt="avatar" class="profile-pic"></div>
      Lucas Martin<br>
      </center>
    </div>

    <div class="col-md-3">
      <center>
        <div class="image-cropper"><img src="https://ucampus.uchile.cl/d/r/usuario/1d/1d8f506ed575b64c014b0664c02f0116/perfil/1bf0d6a711e83526f5c7d640d2402b2a.jpg" alt="avatar" class="profile-pic"></div>
        Monserrat Greene<br><br>
      </center>
    </div>
  </div>

<br>

<div class="contact-policy">
  <h3>Contacto</h3>

      <p>{{ .Site.Params.Profesor.contact_policy | markdownify}}</p>

</div>

<div class="contact-policy">
  <h3>Versiones anteriores del sitio del curso:</h3>
<p>- <a href="https://version2021--multivariada.netlify.app/">2021</a></p>
<p>- <a href="https://version2020--multivariada.netlify.app/">2020</a></p>
<p>- <a href="https://juancarloscastillo.github.io/metsoc-facsouchile/index.html">2019</a></p>
</div>
